:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: #F5F5F5;
  --line-color: green;
}

svg.cropper-svg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  align-self: center;
  max-width:100%;
}

.cropper-controls {
  stroke:var(--line-color);
}

.footer {
  flex-shrink: 0;
  height: 100px;
  width: 100%;
  pointer-events: none;
}

.items {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 2.0em;
}

.items .item {
  flex: 1;
  text-align: center;
}
.items .item:first-child {
  text-align: left;
}
.items .item:last-child {
  text-align: right;
}

.accept-use img {
  height: 2.5em;
  pointer-events: all;
  cursor:pointer;
}

.accept-cancel img {
  height: 2.5em;
  pointer-events: all;
  cursor:pointer;
}

.cropper-svg polygon {
  cursor:move;
}

.cropper-svg rect {
  cursor:grab;
}

.hidden-canvas {
  display: none;
}

.cropper-controls {
  touch-action: none;
}

